.grid-container, .grid-container-week {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1px;
    background-color: #2196F3;
    padding: 8px;
    max-width: 58%;
    margin: auto;
    margin-bottom: 2%;
}

.grid-container > .item1, .grid-container > .item4, .grid-container > .item5, .grid-container > .item6, .grid-container > .item7,
.grid-container-week > .item1, .grid-container-week > .item4, .grid-container-week > .item5, .grid-container-week > .item6, .grid-container-week > .item7 
{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

.time-value {
    margin-right: 3%;
    font-family: Poppins;
    font-size: 1.25em
}

.remove-btn {
    background: -webkit-linear-gradient(top, #DD4B39, #D14836); 
    background: -moz-linear-gradient(top, #DD4B39, #D14836); 
    background: -ms-linear-gradient(top, #DD4B39, #D14836); 
    border: 1px solid #DD4B39;
    color: white;
    text-shadow: 0 1px 0 #C04131;
    cursor:pointer;
}

.update-btn {
    background: -webkit-linear-gradient(top, rgb(0, 156, 78), rgb(0, 156, 78)); 
    background: -moz-linear-gradient(top, rgb(0, 156, 78), rgb(0, 156, 78)); 
    background: -ms-linear-gradient(top, rgb(0, 156, 78), rgb(0, 156, 78)); 
    border: 1px solid rgb(0, 156, 78);
    color: white;
    text-shadow: 0 1px 0 rgb(0, 156, 78);
    cursor:pointer;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 1%;
}

.item5, .item6, .item7 {
    padding-left: 3%;
}

.item3 {
    max-width: 0%;
}

.item3-week {
    /*max-width: 33%;*/
}

.item1 {
    text-align: center;
}

.item2 {
    max-width: 0%;
}

.item2-week {
    /*max-width: 33%;*/
}

#abc, #abc2 {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto;
}

img#close {
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer;
    max-width: 6%;
    max-height: 6%;
}

img#close-time {
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer;
    max-width: 10%;
    max-height: 10%;
}

div#popupContact {
    position:absolute;
    left:50%;
    top:10%;
    margin-left:-202px;
    font-family:'Raleway',sans-serif;
}

#form, #form2 {
    max-width:300px;
    min-width:250px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family: Cambria;
    background-color:#fff;
}

input[type = number]{
    width: 18%;
} 

p {
    margin-top:30px;
}

h2 {
    /* background-color:#FEFFED; */
    padding:20px 35px;
    margin:-10px -50px;
    text-align:center;
    border-radius:10px 10px 0 0;
}

hr {
    margin:10px -50px;
    border:0;
    border-top:1px solid #ccc;
}

input[type=text] {
    width:82%;
    padding:10px;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:raleway;
}

#course {
    background-image:url(../images/email.png);
    background-repeat:no-repeat;
    background-position:5px 7px;
}

textarea {
    background-image:url(../images/msg.png);
    background-repeat:no-repeat;
    background-position:5px 7px;
    width:82%;
    height:95px;
    padding:10px;
    resize:none;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:raleway;
    margin-bottom:30px;
}

#submit {
    text-decoration:none;
    width:100%;
    text-align:center;
    display:block;
    background-color:rgb(15, 15, 139);
    color:#fff;
    background-color:rgb(15, 15, 139);
    padding:10px 0;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
}

span {
    color:red;
    font-weight:700;
}

button {
    background: -webkit-linear-gradient(top, rgb(15, 15, 139), rgb(15, 15, 139)); 
    background: -moz-linear-gradient(top, rgb(15, 15, 139), rgb(15, 15, 139)); 
    background: -ms-linear-gradient(top, rgb(15, 15, 139), rgb(15, 15, 139)); 
    border: 1px solid rgb(15, 15, 139);
    color: white;
    text-shadow: 0 1px 0 rgb(15, 15, 139);
    cursor:pointer;
}